node_modules/
.expo/
*.jks
*.keystore
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.env
android/.gradle/
android/build/
android/app/build/
android/.idea/
android/keystore.properties
.DS_Store
*.zip
